@import './../../node_modules/bootstrap/scss/bootstrap.scss';

.App {
  table {
    tbody {
      tr {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.stat-card {
  .card-header {
    text-transform: capitalize;
  }
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 2;
  }
}